openapi: 3.1.0
info:
  title: Attio REST Attributes Objects API
  description: 'Best-effort OpenAPI 3.1 description of the Attio REST API (v2).

    Derived from public documentation at https://docs.attio.com/rest-api and the

    documentation index at https://docs.attio.com/llms.txt. Attio is a flexible CRM

    with objects, records, lists, attributes and webhooks.

    '
  version: '2'
  contact:
    name: Attio Docs
    url: https://docs.attio.com/rest-api
servers:
- url: https://api.attio.com
  description: Attio API production
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Objects
paths:
  /v2/objects:
    get:
      tags:
      - Objects
      summary: List objects
      operationId: listObjects
      responses:
        '200':
          description: Objects returned
    post:
      tags:
      - Objects
      summary: Create an object
      operationId: createObject
      responses:
        '201':
          description: Object created
  /v2/objects/{object_id}:
    parameters:
    - $ref: '#/components/parameters/ObjectId'
    get:
      tags:
      - Objects
      summary: Get an object
      operationId: getObject
      responses:
        '200':
          description: Object returned
    patch:
      tags:
      - Objects
      summary: Update an object
      operationId: updateObject
      responses:
        '200':
          description: Object updated
components:
  parameters:
    ObjectId:
      in: path
      name: object_id
      required: true
      schema:
        type: string
      description: Object ID or slug (e.g. "people", "companies", "deals", or a custom object).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio API key or OAuth bearer token.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.attio.com/authorize
          tokenUrl: https://api.attio.com/oauth/token
          scopes:
            object_configuration:read: Read object configuration
            object_configuration:read-write: Manage object configuration
            record_permission:read: Read records
            record_permission:read-write: Manage records
            list_configuration:read-write: Manage lists
            list_entry:read-write: Manage list entries
            webhook:read-write: Manage webhooks
